<!-- views/partials/footer.ejs -->
<footer class="footer">
  <div class="container">
    <p>
      &copy; <%= new Date().getFullYear() %> Stock Trading Simulation Game. All
      Rights Reserved.
    </p>
  </div>
</footer>
