<!-- views/adminDashboard.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/adminDashboard.css" />
  </head>
  <body>
    <div class="admin-dashboard-container">
      <!-- Sidebar  -->
      <aside class="sidebar">
        <ul>
          <li><a href="/user/portfolio">Portfolio</a></li>
          <li><a href="/user/marketplace">Marketplace</a></li>
          <li><a href="/user/profile">Profile</a></li>
        </ul>
      </aside>

      <!-- Main content area -->
      <div class="main-content">
        <h2>Marketplace</h2>
        <p>Here you can manage the stocks available for trading in the game.</p>
      </div>
    </div>
  </body>
</html>
